{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="main-container">
		<div class="article-list">

			{% for article in articles %}
				<div class="article-card">
					<a href="{{ path('app_article_show', {'slug': article.slug}) }}" class="article-container">
						<img src="https://via.placeholder.com/150" alt="" class="article-img">
						<div class="article-content">
							<div class="article-title">
								<h3>{{ article.title }}</h3>
							</div>
							<div class="article-text">
								{{ article.content |striptags }}
							</div>
							<div class="article-rest">
								{% if article.CreatedBy.email is defined %}
									{{ article.CreatedBy.email }}
								{% else %}
									Aucun créateur
								{% endif %}
								-
								{% if article.commentaire | length  > 0 %}
									{% if article.commentaire | length  == 1 %}
										1 commentaire
									{% else %}
										{{ article.commentaire | length }}
										commentaires
									{% endif %}
								{% else %}
									Aucun commentaire
								{% endif %}

								{% if  article.createdAt !=  null %}
									- Publié le
									{{ article.createdAt | date('d-m-Y') }}
								{% elseif article.updatedAt !=  null %}
									- Mis à jour le
									{{ article.updatedAt | date('d-m-Y') }}
								{% endif %}
							</div>
						</div>
					</a>
					{% if is_granted('ROLE_MODERATOR') %}
						<div class="article-action">{% include "./home/_articles_actions.html.twig" %}</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
		<div class="tag-list">
			<h2>
				Nos derniers tags</h2>

			{% for tag in tags %}
				<a href="{{ path("app_tag_show", {'id': tag.id}) }}" class="chip-bigger">{{ tag.name }}</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
