<nav class="navbar{% if is_granted('ROLE_PREVIOUS_ADMIN') %}-impersonation{% endif %}">

	<div class="navbar-block">
		<div class="navbar-item">
			<a href="{{ path('app_home') }}" class="navbar-link">Home</a>
		</div>
		<div class="navbar-item">
			{% if is_granted('ROLE_EDITOR') %}
				<a href="{{ path('app_article_index') }}" class="navbar-link">Articles</a>
			{% endif %}
			{% if is_granted('ROLE_MODERATOR') %}
				<a href="{{ path('app_commentaire_index') }}" class="navbar-link">Commentaires</a>
			{% endif %}
			{% if is_granted('ROLE_SUPER_ADMIN') %}
				<a href="{{ path('app_user_index') }}" class="navbar-link">Utilisateurs</a>
			{% endif %}
		</div>
	</div>
	<div class="navbar-block">
		<div class="navbar-item">
			{% if app.user == null %}
				<a href="{{ path('app_login') }}" class="navbar-link">Login</a>
				<a href="{{ path('app_register') }}" class="navbar-link">Register</a>
			{% else %}
				{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
					<a href="{{ path('app_home', {'_switch_user': '_exit'}) }}" class="navbar-link rainbow">Quitter impersonification</a>
				{% else %}
					<a href="{{ path('app_logout') }}" class="navbar-link">Logout</a>
				{% endif %}
			{% endif %}
		</div>
	</div>
</nav>
