/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #00000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: #91ff0000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $background;
    border-radius: 10px;
    border: 0px solid #000000;
  }