@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import './colors.scss';
@import './buttons.scss';
@import './form.scss';
@import './chip.scss';
@import './article/show.scss';
@import './article/commentaire.scss';
@import './navbar.scss';
@import './pages/home.scss';
@import './components/scrollbar.scss';

body {
    color: $font;
    font-family: 'Montserrat', sans-serif;
    background-color: $page-background;
    margin: 0px;

   

    .table {
        border:2px solid black;
        background-color: $light-white;
        text-align: center;
        border-left: red;
        border-right: red;

            tr{
                border-left: red;
                border-right: red;
            }
    }
}


