.button-read {
	background-color:#1884ff;
	border-radius:4px;
	cursor:pointer;
	// color:#ffffff;
	padding:0px 0px;
	text-decoration:none;
    padding:4px 12px;
    color:$font;
    margin:4px;
    transition-duration: 0.5s;
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;

    &:hover{
        background-color: #0077ff;
        transition-duration: 0.5s;
        box-shadow: 0px -0px 12px 0px $background;
        -webkit-box-shadow: 0px -0px 12px 0px $background;
        -moz-box-shadow: 0px -0px 12px 0px $background;
        transition-duration: 0.5s;
    }
}

.button-edit {
	background-color:#ffae00;
	border-radius:4px;
	cursor:pointer;
	padding:0px 0px;
	text-decoration:none;
    padding:4px 12px;
    color:$font;
    margin:4px;
    transition-duration: 0.5s;
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;

    &:hover{
        background-color: #fdb416;
        transition-duration: 0.5s;
        box-shadow: 0px -0px 12px 0px $background;
        -webkit-box-shadow: 0px -0px 12px 0px $background;
        -moz-box-shadow: 0px -0px 12px 0px $background;
        transition-duration: 0.5s;
    }
}

.button-delet {
	background-color:#c90000;
	border-radius:4px;
	cursor:pointer;
	padding:0px 0px;
	text-decoration:none;
    padding:4px 12px;
    color:$font;
    margin:4px;
    transition-duration: 0.5s;
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;

    &:hover{
        background-color: #ca1919;
        transition-duration: 0.5s;
        box-shadow: 0px -0px 12px 0px $background;
        -webkit-box-shadow: 0px -0px 12px 0px $background;
        -moz-box-shadow: 0px -0px 12px 0px $background;
        transition-duration: 0.5s;
    }
}