.chip-container{
    display: inline-flex;
}

.chip{
    text-decoration: none;
    background-color:$nunance-rose;
	border-radius:4px;
	cursor:pointer;
	padding:0px 0px;
	text-decoration:none;
    padding:2px 4px;
    color: $white;
    transition-duration: 0.5s;
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    margin:2px;
}

.chip-bigger{
    text-decoration: none;
    background-color:$nunance-rose;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 15px;
    color: $white;
    transition-duration: 0.5s;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 0.75em;
    margin: 10px 0px;
    line-height: 45px;
}
