$font: #080705;
$background: #7899d4;
$nunance-marron: #362023;
$nunance-rose: #700548;
$nunance-violet : #7272ab;
$page-background: white;
$white: white;
$red: red;
$article-card-background: rgb(248, 248, 248);
$light-white: rgb(248, 248, 248);