input[type=text],
input[type=email],
input[type=password] {
    // background-color: orange;
    padding: 12px;
    border:1px solid #ced4da;
    border-radius: 0.25rem;
    color:#495057;

    &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }
}