@mixin navbar{
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .navbar-block{
        display: flex;

        .navbar-item{
            display: flex;

            .navbar-link{
                display: flex;
                border-radius: 4px;
                text-decoration: none;
                color: white;
                padding: 8px 8px;
                margin: 0px 2px;
                transition-duration: 0.5s;

                &:hover{
                    background-color: $nunance-violet;
                    transition-duration: 0.5s;
                }
            }
        }
    }
}

.navbar-impersonation{
    background: linear-gradient(90deg, $background 0%, $red 100%);
    @include navbar;
}
.navbar{
    background-color: $background;
    @include navbar;
}

.navbar-second{
    background: $nunance-rose;
    @include navbar;
    padding:0px;
}