{% extends 'base.html.twig' %}

{% block title %}Edit Commentaires
{% endblock %}

{% block body %}
	<h1>Edit Commentaires</h1>

	{{ include('commentaire/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_commentaire_index') }}">back to list</a>

	{{ include('commentaire/_delete_form.html.twig') }}
{% endblock %}
