{% extends 'base.html.twig' %}

{% block title %}Commentaires index
{% endblock %}

{% block body %}
	<h1>Commentaires index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Article</th>
				<th>Content</th>
				<th>CreatedAt</th>
			</tr>
		</thead>
		<tbody>
			{% for commentaire in commentaires %}
				<tr>
					<td>{{ commentaire.id }}</td>
					<td>
						{% if commentaire.article.id is defined and commentaire.article.id != null %}
							<a href="{{path('app_article_show', {'slug' : commentaire.article.slug })}}">{{commentaire.article.id}}</a>
						{% endif %}
					</td>
					<td>{{ commentaire.content }}</td>
					<td>{{ commentaire.createdAt ? commentaire.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
