{% extends 'base.html.twig' %}

{% block title %}Commentaire
{% endblock %}

{% block body %}
	<h1>Commentaire</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ commentaire.id }}</td>
			</tr>
			<tr>
				<th>Content</th>
				<td>{{ commentaire.content }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ commentaire.createdAt ? commentaire.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_commentaire_index') }}">back to list</a>

	<a href="{{ path('app_commentaire_edit', {'id': commentaire.id}) }}">edit</a>

	{{ include('commentaire/_delete_form.html.twig') }}
{% endblock %}
