.main-container {
    display: flex;
    flex-direction: row;
    
    .article-list {
        display: flex;
        flex-direction: row;
        max-width: 80%;
        width: 80%;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .article-card {
            display: flex;
            flex-direction: column;
            width: 45%;
            max-width: 700px;
            min-width: 500px;
            min-height: 160px;
            margin: 8px;
            transition-duration: 0.5s;
            background-color: $article-card-background;
            border-radius: 4px;

            &:hover{
                box-shadow: 0px -0px 12px 0px $background;
                -webkit-box-shadow: 0px -0px 12px 0px $background;
                -moz-box-shadow: 0px -0px 12px 0px $background;
                transition-duration: 0.5s;
            }

            .article-container {
                display: flex;
                flex-direction: row;
                padding:4px;
                text-decoration: none;
                color: $font;

                .article-img{
                    max-width: 150px;
                    min-width: 150px;
                    max-height: 150px;
                    min-height: 150px;
                    object-fit: cover;
                }

                .article-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;
                    
                    .article-title {
                        margin-left: 15px;
                    }
                    
                    .article-text {
                        max-width: 90%;
                        margin-left: 12px;
                        word-break: break-word;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                    
                    .article-rest {
                        display: flex;
                        justify-content: flex-end;
                        font-size: 0.75em;
                        color: $nunance-violet;
                    }
                }
            }
            .article-action{
                display: flex;
                justify-content: space-evenly;
            }
        }
    }

    .tag-list {
        max-width: 20%;
        width: 20%;
    }
}