.show-commentaire {
    // background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 28px;

    .commentaire-title {
        font-size: 2em;
    }

    .commentaire-action {
        margin:12px;
        color: $red;
    }

    .commentaire-item {
        display: flex;
        flex-direction: row;
        background-color: $light-white;
        margin: 12px;
        padding: 8px;
        max-width: 75%;
        min-width: 75%;
        border-radius: 4px;

        .commentaire-author-pp {
            max-width: 50px;
            min-width: 50px;
            max-height: 50px;
            min-height: 50px;
            object-fit: cover;
        }

        .commentaire-content {
            display: flex;
            flex-direction: column;
            width: 100%;

            .commentaire-author-name {
                margin: 0px 12px;
            }

            .commentaire-text {
                margin: 12px 12px;
            }

            .commentaire-date {
                display: flex;
                justify-content: flex-end;
                font-size: 0.75em;
            }
        }

        

    }
}