.show-article {
    background-color: $light-white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .article-title {
        font-size: 2em;
    }

    .article-authors {
        font-size: 0.75em;
    }

    .article-content {
        display: flex;
        align-self: flex-start;
        margin: 12px;
        padding: 12px;
        flex-direction: column;
    }

}