{% if article.CreatedBy == app.user or is_granted('ROLE_MODERATOR') %}
	<nav class="navbar-second">
		<div class="navbar-block"></div>
		<div class="navbar-block">
			<div class="navbar-item">
				<a href="{{ path('app_article_edit', {'slug': article.slug}) }}" class="button-edit">Editer</a>
				{% if article.CreatedBy == app.user or is_granted('ROLE_ADMIN') %}
					{{ include('article/_delete_form.html.twig') }}
				{% endif %}
			</div>
		</div>
	</nav>
{% endif %}
