{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}
	<h1>Article index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				{# <th>Content</th> #}
				<th>Creator</th>
				<th>Published</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			<pre>
			
		</pre>
			{# {{ dump(articles) }} #}
			{% for article in articles %}
				<tr style="{% if article.isPublished == 0 %} background-color:#bbbbbb;{% endif %}">
					<td>{{ article.id }}</td>
					<td>{{ article.title }}</td>
					{# <td>{{ article.content }}</td> #}
					<td>
						{% if article.CreatedBy.id is defined %}
							{{ article.createdBy.email }}
						{% else %}
							NULL
						{% endif %}
					</td>

					<td>
						{% if article.isPublished == 1 %}
							True
							{%else%}
							False
						{% endif %}
					</td>
					<td>
						<a href="{{ path('app_article_show', {'slug': article.slug}) }}">show</a>
						{% if is_granted('ROLE_EDITOR') %}
							<a href="{{ path('app_article_edit', {'slug': article.slug}) }}">edit</a>
						{% endif %}

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
