{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('article') }}
{% endblock %}

{% block title %}Article
{% endblock %}

{% block body %}
	{% include "article/_navbar.html.twig" %}
	<div class="show-article">
		<div class="article-title">
			<h2>{{ article.title }}</h2>
		</div>
		<div class="article-authors">
			{% if  article.createdAt !=  null %}
				Publié le
				{{ article.createdAt | date('d-m-Y') }}
				par
				{{ article.CreatedBy.email}}
			{% elseif article.updatedAt !=  null %}
				Mis à jour le
				{{ article.updatedAt | date('d-m-Y') }}
				par
				{{ article.CreatedBy.email}}
			{% endif %}
		</div>
		<div class="article-content">
			{{ article.content | raw }}
		</div>

		<p class="chip-container">
			{% for tag in article.tags %}
				<a href="{{ path("app_tag_show", {'id': tag.id}) }}" class="chip">{{ tag.name }}</a>
			{% endfor %}
		</p>
	</div>


	<div class="show-commentaire">

		<div class="commentaire-title">
			Commentaires
		</div>

		<div class="commentaire-action">
			{% if is_granted('ROLE_SIMPLE_USER') %}
				<a href="{{ path('app_commentaire_add', {'id': article.id}) }}" class="button-read">Ajouter un commentaire</a>
				<a id="add_commentaire_button" href="#">Click me</a>
				<div>
					{# {% include "article/_form.html.twig" %} #}
				</div>
			{% else %}
				<a href="{{ path('app_commentaire_add', {'id': article.id}) }}">Connectez vous pour commenter cet article.</a>

			{% endif %}
		</div>

		{% for commentaire in article.commentaire %}
			<div class="commentaire-item" id="{{ commentaire.id }}">
				<img src="https://via.placeholder.com/150" alt="" class="commentaire-author-pp">
				<div class="commentaire-content">
					<div class="commentaire-author-name">
						{{ commentaire.user.email }}
					</div>
					<div class="commentaire-text">
						{{commentaire.content | raw}}
					</div>
					<div class="commentaire-date">
						Le
						{{commentaire.createdAt | date('d-m-Y')}}
					</div>
				</div>
			</div>

		{% endfor %}
	</div>
{% endblock %}
