{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<h1>User index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Roles</th>
				{# <th>Password</th> #}
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td class="chip-container">
						{% for role in user.roles %}
							<span class="chip">{{role}}</span>
						{% endfor %}

						{# {{ user.roles ? user.roles|json_encode : '' }} #}
					</td>
					{# <td>{{ user.password }}</td> #}
					<td>
						<a href="{{ path('app_user_show', {'id': user.id}) }}" class="button-read">Voir</a>
						<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="button-edit">Editer</a>
						<a href="{{ path('app_home', {'_switch_user': user.email}) }}" class="button-delet">Impersonation</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
